*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Cambria';
    background-color:black;
}

/* Navbar */
nav{
    display: flex;
    background-color: #821752;
    justify-content: space-around;
    /* padding: 20px 0px; */
    height: 60px;
    color:  #EDC988;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    /* background-color:  #EDC988; */
    justify-content: space-between;
}
nav .logo{
    font-family: verdana;
    letter-spacing: 2px;
}

/* Menu */
nav ul li a{
    color:  #EDC988;
    text-decoration: solid;
    font-size: 0.9em;
}
  /*kondisi diklik*/
nav ul li a:active{
    color:red;
}
nav ul li a:hover{
    color: white;
}

/* Responsive break point */
@media screen and (max-width: 768px){
    nav ul #kata .layer #Form  {
        width: 50%;
    }
}
@media screen and (max-width: 576px){
    nav ul #kata .layer #Form {
        width: 60%;
    }
}

#kata{
    width: 18%;
    margin-top: -100px;
    margin-left: 40%; 
    align-items: center;
    position: absolute; 
    /* top: 100px;
    left: 550px;  */
  }

.layer{
    width: 100%;
}
h4{
    text-indent: 30%;
    font-size: 20px;
    margin-top: -2px;
}
.form{
    margin-top: 30px;
    background-image: url(ikon/maem2.jpg);
    background-size: 670px 300px;
    background-position: left top ;
    background-repeat: no-repeat;
    font-size: large;
    height : 363px;
    width : 630px;
    text-align: justify;
    margin-left: 350px;
    margin-top: 40px;
    border: thin;
    box-shadow: black;
    color: white;
}
#isi{
    margin-left: 50px;
    margin-top: 20px;
   }
#Email{
    width: 250px;
    height : 20px;
    border-radius: 5px; 
  }
#Password{
    width: 250px;
    height : 20px;
    border-radius: 5px; 
  }

#input{
    margin-left: 295px;
    margin-top: 9px;
    background-color: blue;
    width: 70px;
    height: 25px;
   }
#p4{
    font-size: xx-small;
    text-align: center;
    margin-left: 28px;
}
#link{
    margin-top: 10px;
    margin-left: 265px;
    font-size: small;
  }
#fb{
    height: 100%;
    width: auto;
    margin-right: 40px;
}
#gugel{
    height: 100%;
    width: auto;
    margin-left: 5px;
}
.lupa, .daftar{
    text-decoration: none;
}
.lupa{
    color: white;
}
.link{
    margin-top: -20px;
    margin-left: 10px;
}
#p2{
    font-size: x-small;
    margin-left: 10px;
  }
#p3{
    font-size: x-small;
    float: right;
    margin-right: 10px;
    margin-bottom: 30px;
    color: white;
    margin-top: -10px;
}
#input:hover{
    background-color: #EDC988;
   }

#input:active{
    background-color: #821752;
}
.copyr{
    text-align: center;
    color: white;
    font-size: x-small;
    margin-top: 20px;
    margin-bottom: 20px;
}

#p3:hover{
    color: blue;
   }

#p3:active{
    color: #821752;
   }