*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Cambria';
    background-color:#EDC988;
}

/* Navbar */
nav{
    display: flex;
    background-color: #821752;
    justify-content: space-around;
    /* padding: 20px 0px; */
    height: 60px;
    color:  #EDC988;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    /* background-color:  #EDC988; */
    justify-content: space-between;
}
nav .logo{
    font-family: verdana;
    letter-spacing: 2px;
}

/* Menu */
nav ul li a{
    color:  #EDC988;
    text-decoration: solid;
    font-size: 0.9em;
}
  /*kondisi diklik*/
nav ul li a:active{
    color:red;
}
nav ul li a:hover{
    color: white;
}

#kata{
    width: 18%;
    margin-top: -100px;
    margin-left: 40%; 
    align-items: center;
    position: absolute; 
    /* top: 100px;
    left: 550px;  */
  }

.layer{
    width: 100%;
}

/* Isi */
header {
    border: 3px #821752; 
    border-style: inherit;
    height: 30px;
    margin-top: -4px;
    background-color: #821752;
    color:#EDC988;
    text-align: center;
  }
legend{
    font-size: xx-large;
    text-align: center;
    background-color: #821752;
 }
#kolom1{
    width: 47% ;
    margin-left: 23px;
    height:440px;
    float: left;
    margin-top: 25px;
    background-color: #821752;
    background-image: url("ikon/k1.png");
    color: white;
    /* background-color: black; */
}
.geser{
    margin-left: 60px;
    margin-top: 15px;
}

#Kritik{
      float: right;
      margin-right: 202px;
      width: 300px;
      border-radius: 5px;
      margin-top:0px;
 
  }
#Saran{
    float: right;
    margin-right: 202px;
    width: 300px;
    border-radius: 5px;
    margin-top:0px;
}
#Nama{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    margin-top: -10px;

}
#Email{
    width: 250px;
    height : 30px;
    border-radius: 5px;
}
#kirim{
      float: right;
      margin-top: 10px;
      justify-content: center;
      margin-left: 50px;
      /* margin-right: 256px ; */
      width: 70px;
      height: 25px;
      margin-right: 212px;
      background-color: #EDC988;  
  }

#kirim:hover{
    background-color: #821752;
    color: white;
}

#kirim:active{
    background-color: green;
    color: white;
}

#ts{
    float: left;
    margin-top: 0px;
}

#kolom2{
    width: 47% ;
    margin-left: 5px;
    height:440px;
    float: right;
    margin-right: 23px;
    margin-top: 25px;
    background-color: #821752;
    color: white;
    background-image: url("ikon/k2.png"); 
  }
#foto1{
    float: left;
    margin-top: 100px;
    margin-left: 30px;
}
#Alamat{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 50px;
    width: 400px;
    height: 40px;
}
#foto2{
    float: left;
    margin-left: 30px;
}
#Nomor{
    margin-left: 100px;
    margin-right: 50px;
    width: 400px;
    height: 40px;
}
#foto3{
    float: left;
    margin-left: 30px;
}
#Imel{
    margin-left: 100px;
    margin-right: 50px;
    width: 400px;
    height: 40px;
}
footer {
    text-align: center;
    font-size: x-small;
    margin-top: 500px;
    margin-bottom: 50px;
 }
/* Responsive break point */
@media screen and (max-width: 768px){
    .body {
        width: 50%;
    }
    #Rekom{
      margin-top: 100%;
    }
    nav{
        display: flex;
        background-color: #821752;
        /* justify-content: space-around; */
        height: 70px;
        color:  #EDC988;
        align-items: center;
      }
      nav ul{
        display: flex;
        list-style: none;
        width: 50%;
        /* background-color:  #EDC988; */
        justify-content: space-between;
        font-size: medium;
      }
      nav .logo{
        font-family: verdana;
        letter-spacing: 2px;
      }
      #kata{
        width: 20%;
        margin-top: -50px;
        margin-left: 40%; 
        align-items: center;
        position: absolute;
      }
    #kolom1{
        width: 47% ;
        margin-left: 100px;
        height:440px;
        float: left;
        margin-top: 25px;
        background-color: #821752;
        background-image: url("ikon/k1.png");
        color: white;
    }
    #kolom2{
        width: 47% ;
        height:440px;
        float: right;
        margin-right: 105px;
        margin-top: 25px;
        background-color: #821752;
        color: white;
        background-image: url("ikon/k2.png"); 
      }

    #Kritik{
        /* float: right; */
        margin-right: 202px;
        width: 300px;
        border-radius: 5px;
        margin-top:0px;
   
    }
    #Saran{
        /* float: right; */
        margin-right: 202px;
        width: 300px;
        border-radius: 5px;
        margin-top:0px;
    }
    footer {
        text-align: center;
        font-size: x-small;
        margin-top: 150%;
        margin-bottom: 50px;
    }
    #kirim:hover{
        background-color: #821752;
        color: white;
    }
    
    #kirim:active{
        background-color: green;
        color: white;
    }
}
  @media screen and (max-width: 576px){
    /* .body {
        width: 60%;
    }
    #Rekom{
      margin-top: 100%;
    }
    #kata{
      width: 20%;
      margin-top: -50px;
      margin-left: 40%; 
      align-items: center;
      position: absolute;
    } */
    .body {
        width: 30%;
    }
    #Rekom{
      margin-top: 100%;
    }
    nav{
      display: flex;
      background-color: #821752;
      /* justify-content: space-around; */
      height: 70px;
      color:  #EDC988;
      align-items: center;
    }
    nav ul{
      display: flex;
      list-style: none;
      width: 50%;
      /* background-color:  #EDC988; */
      justify-content: space-between;
      font-size: medium;
    }
    nav .logo{
      font-family: verdana;
      letter-spacing: 2px;
    }
    #kata{
      width: 20%;
      margin-top: -50px;
      margin-left: 40%; 
      align-items: center;
      position: absolute;
    }
    #kolom1{
        width: 47% ;
        margin-left: 50px;
        height:440px;
        float: left;
        margin-top: 25px;
        background-color: #821752;
        background-image: url("ikon/k1.png");
        color: white;
    }
    #kolom2{
        width: 47% ;
        height:440px;
        float: right;
        margin-right: 60px;
        margin-top: 25px;
        background-color: #821752;
        color: white;
        background-image: url("ikon/k2.png"); 
    }
    #Kritik{
        /* float: right; */
        margin-right: 100px;
        width: 300px;
        border-radius: 5px;
        margin-top:0px;
    }
    #Saran{
        /* float: right; */
        margin-right: 100px;
        width: 300px;
        border-radius: 5px;
        margin-top:0px;
    }
    #foto1{
        float: left;
        margin-top: 100px;
        margin-left: 30px;
    }
    #Alamat{
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 50px;
        width: 305px;
        height: 40px;
    }
    #foto2{
        float: left;
        margin-left: 30px;
    }
    #Nomor{
        margin-left: 100px;
        margin-right: 50px;
        width: 305px;
        height: 40px;
    }
    #foto3{
        float: left;
        margin-left: 30px;
    }
    #Imel{
        margin-left: 100px;
        margin-right: 50px;
        width: 305px;
        height: 40px;
    }
    #kirim:hover{
        background-color: #821752;
        color: white;
    }
    
    #kirim:active{
        background-color: green;
        color: white;
    }
    footer {
        text-align: center;
        font-size: x-small;
        margin-top: 170%;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 471px){
    .body {
        width: 20%;
    }
    #Rekom{
      margin-top: 100%;
    }
    #kata{
      width: 20%;
      margin-top: -50px;
      margin-left: 40%; 
      align-items: center;
      position: absolute;
    }
    nav{
      display: flex;
      background-color: #821752;
      /* justify-content: space-around; */
      height: 70px;
      color:  #EDC988;
      align-items: center;
    }
    nav ul{
      display: flex;
      list-style: none;
      width: 50%;
      /* background-color:  #EDC988; */
      justify-content: space-between;
      font-size: small;
    }
    nav .logo{
      font-family: verdana;
      letter-spacing: 2px;
    }
    #kata{
      width: 30%;
      margin-top: -50px;
      margin-left: 35%; 
      align-items: center;
      position: absolute;
    }
    #kolom1{
        width: 0% ;
        margin-left: 75px;
        height:500px;
        float: left;
        margin-top: 25px;
        background-color: #821752;
        background-image: url("ikon/k1.png");
        color: white;
    }
    #kolom2{
        width: 0;
        height:400px;
        /* float: right; */
        margin-right: 40px;
        margin-left:0px;
        margin-top: 25px;
        background-color: #821752;
        color: white;
        background-image: url("ikon/k2.png"); 
    }
    #Nama{
        width: 250px;
        height: 30px;
        border-radius: 5px;
        margin-top: 2px;
        margin-left:-30px;
    }
    #Email{
        width: 250px;
        height : 30px;
        border-radius: 5px;
        margin-left:-30px;
    }
    #Kritik{
        /* float: right; */
        margin-right:70px;
        width: 200px;
        border-radius: 5px;
        margin-top:0px;
        margin-left:-30px;
    }
    #Saran{
        /* float: right; */
        margin-right:70px;
        width: 200px;
        border-radius: 5px;
        margin-top:0px;
        margin-left:-30px;
    }
    #foto1{
        display:none;
    }
    #Alamat{
        margin-top: 100px;
        margin-left: 30px;
        margin-right: 50px;
        width: 305px;
        height: 40px;
    }
    #foto2{
        display:none;
    }
    #Nomor{
        margin-left: 30px;
        margin-right: 50px;
        width: 305px;
        height: 40px;
    }
    #foto3{
        display:none;
    }
    #Imel{
        margin-left: 30px;
        margin-right: 50px;
        width: 305px;
        height: 40px;
    }
    #kirim{
        float: right;
        margin-top: 10px;
        justify-content: center;
        width: 70px;
        height: 25px;
        margin-right: 100px;
        background-color: #EDC988;  
    }
    #kirim:hover{
        background-color: #821752;
        color: white;
    }
    
    #kirim:active{
        background-color: green;
        color: white;
    }
    footer {
        text-align: center;
        font-size: x-small;
        margin-top: 250%;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 300px){
    nav{
        display: flex;
        background-color: #821752;
        /* justify-content: space-around; */
        height: 70px;
        color:  #EDC988;
        align-items: center;
      }
      nav ul{
        display: flex;
        list-style: none;
        width: 50%;
        /* background-color:  #EDC988; */
        justify-content: space-between;
        font-size: xx-small;
      }
      nav .logo{
        font-family: verdana;
        letter-spacing: 2px;
        font-size:small;
    }
    #kata{
        width: 25%;
        margin-top: -30px;
        margin-left: 35%; 
        align-items: center;
        position: absolute;
    }
    #kolom1{
        width: 0% ;
        margin-left:22px;
        height:430px;
        float: left;
        margin-top: 25px;
        background-color: #821752;
        background-image: url("ikon/k1.png");
        color: white;
        font-size: small;
    }
    #kolom2{
        width: 0% ;
        height:400px;
        margin-right:20px;
        margin-left:5px;
        margin-top: 20px;
        background-color: #821752;
        color: white;
        background-image: url("ikon/k2.png"); 
        font-size: small;
    }
    #Nama{
        width: 200px;
        height: 30px;
        border-radius: 5px;
        margin-top: 2px;
        margin-left:-30px;
    }
    #Email{
        width: 200px;
        height : 30px;
        border-radius: 5px;
        margin-left:-30px;
    }
    #Kritik{
        /* float: right; */
        margin-right:70px;
        width: 150px;
        border-radius: 5px;
        margin-top:0px;
        margin-left:-30px;
    }
    #Saran{
        /* float: right; */
        margin-right:70px;
        width: 150px;
        border-radius: 5px;
        margin-top:0px;
        margin-left:-30px;
    }
    #kirim{
        float: right;
        margin-top: 10px;
        justify-content: center;
        width: 70px;
        height: 25px;
        margin-right: 100px;
        background-color: #EDC988;  
    }
    #kirim:hover{
        background-color: #821752;
        color: white;
    }
    
    #kirim:active{
        background-color: green;
        color: white;
    }
    #foto1{
        display:none;
    }
    #Alamat{
        margin-top: 100px;
        margin-left: 30px;
        margin-right: 20px;
        width: 200px;
        height: 75px;
        font-size: small;
    }
    #foto2{
        display:none;
    }
    #Nomor{
        margin-left: 30px;
        margin-right: 20px;
        width:200px;
        height: 40px;
        font-size: small;
    }
    #foto3{
        display:none;
    }
    #Imel{
        margin-left: 30px;
        margin-right: 20px;
        width:200px;
        height: 40px;
        font-size: small;
    }
    footer {
        text-align: center;
        font-size: x-small;
        margin-top: 300%;
        margin-bottom: 10px;
    }
}