*{
    margin: 0;
    padding: 0;
  }
  
  .search-txt{
    float: left;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    margin-top: 7px;
  }
  #lup{
   margin-top: 9px;
   margin-left: 5px;
   
  }
  
  body{
    font-family: 'Cambria';
    background-color:#EDC988;
  }
  
  
  #like{
    float: right;
  }
  
  #user{
    float: right;
    margin-left: 150pxpx;
  }
  
  
  /* Navbar */
  nav{
    display: flex;
    background-color: #821752;
    justify-content: space-around;
    /* padding: 20px 0px; */
    height: 60px;
    color:  #EDC988;
    align-items: center;
  }
  
  nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    /* background-color:  #EDC988; */
    justify-content: space-between;
  }
  nav .logo{
    font-family: verdana;
    letter-spacing: 2px;
  }
  
  /* Menu */
  nav ul li a{
    color:  #EDC988;
    text-decoration: solid;
    font-size: 0.9em;
  }
  /*kondisi diklik*/
  nav ul li a:active{
    color:red;
  }
  nav ul li a:hover{
    color: white;
  }
  
  /* Responsive break point */
  @media screen and (max-width: 768px){
    .body  {
        width: 50%;
    }
  }
  @media screen and (max-width: 576px){
    .body {
        width: 60%;
    }
  }
  
  #kata{
    width: 18%;
    margin-top: -100px;
    margin-left: 40%; 
    align-items: center;
    position: absolute; 
    /* top: 100px;
    left: 550px;  */
  }
  
.layer{
    width: 100%;
  }

.kategori, .viral{
    text-align: center;
    font-size: 16px;
}
.kategori {
    margin-top: -4px;
    background-color: #821752;
    color: white;
    font-style: italic;
    margin-bottom: 16px;
}
.viral{
    background-color:white;
    margin-top: -15px;
    font-style: italic;
    margin-bottom: 30px;
}
.list{
    margin-left: 52px;
}
.baris2{
    margin-top: 15px;
}

#copyr{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: x-small;
   }
