body{
    background-image: url(ikon/2.png);
    background-repeat: no-repeat;
    background-color: #F8EFD4;
}
.header{
    background-color: #821752;
    padding: 20px;
    font-size: 16px;
    margin-left: -20px;
    margin-top: -10px;
    margin-right: -20px;
}
.menu{
    text-decoration: none;
    color: black;
    background-color: #EDC988;
    padding: 5px;
    margin-left: 10px;   
}
input{
    padding: 5px;
    margin-left: 270px;
    border-radius: 20px;
    width: 250px;
}
.lup{
    float: right;
    margin-right: 400px;
    margin-top: 5px;
}
.favorit, .profil{
    float: right;
    margin-right: 10px;
}
.logo{
    max-height: 65px;
    margin-left: 520px;
    margin-top: -20px;
}
.akun{
    float: right;
    background-color: #821752;
    padding: 20px;
    border-radius: 5px;
    margin-top: -100px;
    margin-right: -10px;
    text-align: center;
    color: white;

}
#atur , #tema , #keluar{
    text-decoration: none;
    color: white;
}
.namaKategori{
    text-align: center;
    font-size: 16px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 10px;
    background-color: #EDC988;
    color: white;
    font-style: italic;
}
.baris1{
    margin-top: 15px;
}
.list{
    margin-left: 50px
}