*{
    margin: 0;
    padding: 0;
  }
  
  .search-txt{
    float: left;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    margin-top: 7px;
  }
  #lup{
   margin-top: 9px;
   margin-left: 5px;
   
  }
  body{
    font-family: 'Cambria';
    background-color:#EDC988;
  }
  #like{
    float: right;
  }
  
  #user{
    float: right;
    margin-left: 150pxpx;
  }
  /* Navbar */
  nav{
    display: flex;
    background-color: #821752;
    justify-content: space-around;
    /* padding: 20px 0px; */
    height: 60px;
    color:  #EDC988;
    align-items: center;
  }
  
  nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    /* background-color:  #EDC988; */
    justify-content: space-between;
  }
  nav .logo{
    font-family: verdana;
    letter-spacing: 2px;
  }
  
  /* Menu */
  nav ul li a{
    color:  #EDC988;
    text-decoration: solid;
    font-size: 0.9em;
  }
  /*kondisi diklik*/
  nav ul li a:active{
    color:red;
  }
  nav ul li a:hover{
    color: white;
  }
  #kata{
    width: 18%;
    margin-top: -100px;
    margin-left: 40%; 
    align-items: center;
    position: absolute; 
    /* top: 100px;
    left: 550px;  */
  }
  
.layer{
    width: 100%;
  }

.kategori, .jalan{
    text-align: center;
    font-size: 16px;
}
.kategori {
    margin-top: -4px;
    background-color: #821752;
    color: white;
    font-style: italic;
    margin-bottom: 16px;
}
.jalan{
    background-color:white;
    margin-top: -15px;
    font-style: italic;
    margin-bottom: 30px;
}
.list{
    margin-left: 52px;
}
.baris2{
    margin-top: 15px;
}
#copyr{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: x-small;
   }
/* Responsive break point */
@media screen and (max-width: 768px){
  .body {
      width: 50%;
  }
  #Rekom{
    margin-top: 100%;
  }
  #kata{
    width: 18%;
    margin-top: -65px;
    margin-left: 40%; 
    align-items: center;
    position: absolute;
  }
  #copyr{
    text-align: center;
    margin-top: 50%;
    margin-bottom: 20px;
    font-size: x-small;
   }
}
@media screen and (max-width: 576px){
  .body {
    width: 30%;
  }
  #Rekom{
    margin-top: 100%;
  }
  nav{
    display: flex;
    background-color: #821752;
    /* justify-content: space-around; */
    height: 70px;
    color:  #EDC988;
    align-items: center;
  }
  nav ul{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-between;
    font-size: medium;
  }
  nav .logo{
    font-family: verdana;
    letter-spacing: 2px;
  }
  #lup{
    display:none;
    /* margin-top: 9px;
    margin-left: 5px; */
   }
  .search-txt{
    display:none;
  }
  #kata{
    width: 20%;
    margin-top: -50px;
    margin-left: 40%; 
    align-items: center;
    position: absolute;
  }
  #copyr{
    text-align: center;
    margin-top: 50%;
    margin-bottom: 20px;
    font-size: x-small;
   }
}
@media screen and (max-width: 471px){
  .body {
      width: 20%;
  }
  #Rekom{
    margin-top: 100%;
  }
  #kata{
    width: 20%;
    margin-top: -50px;
    margin-left: 40%; 
    align-items: center;
    position: absolute;
  }
  nav{
    display: flex;
    background-color: #821752;
    /* justify-content: space-around; */
    height: 70px;
    color:  #EDC988;
    align-items: center;
  }
  nav ul{
    display: flex;
    list-style: none;
    width: 50%;
    /* background-color:  #EDC988; */
    justify-content: space-between;
    font-size: small;
  }
  nav .logo{
    font-family: verdana;
    letter-spacing: 2px;
  }
  #kata{
    width: 30%;
    margin-top: -50px;
    margin-left: 35%; 
    align-items: center;
    position: absolute;
  }
  #lup{
    display:none;
    /* margin-top: 9px;
    margin-left: 5px; */
   }
  .search-txt{
    display:none;
  }
  #copyr{
    text-align: center;
    margin-top: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: x-small;
   }
}
@media screen and (max-width: 300px){
  .body {
      width: 20%;
  }
  #Rekom{
    margin-top:20%;
    width: 100%;
    font-size: small;
  }
  .rekom{
    float: right;
    margin-right: 30px;
    margin-top: 5px;
    color:  #EDC988;
    text-decoration: solid;
    font-size: small;
  }  
  #tanya{
    float: left;
    margin-left: 30px;
    margin-top: 5px;
    font-size: small;
  }
  nav{
    display: flex;
    background-color: #821752;
    /* justify-content: space-around; */
    height: 70px;
    color:  #EDC988;
    align-items: center;
  }
  nav ul{
    display: flex;
    list-style: none;
    width: 50%;
    /* background-color:  #EDC988; */
    justify-content: space-between;
    font-size: xx-small;
  }
  nav .logo{
    font-family: verdana;
    letter-spacing: 2px;
    font-size:small;
  }
  #kata{
    width: 25%;
    margin-top: -30px;
    margin-left: 35%; 
    align-items: center;
    position: absolute;
  }
  #lup{
    display:none;
    /* margin-top: 9px;
    margin-left: 5px; */
   }
  .search-txt{
    display:none;
  }
  #copyr{
    text-align: center;
    margin-top: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: x-small;
   }
}