*{
    margin: 0;
    padding: 0;
  }
  
  .search-txt{
    float: left;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    margin-top: 7px;
  }
  #lup{
   margin-top: 9px;
   margin-left: 5px;
   
  }
  
  body{
    font-family: 'Cambria';
    background-color:#EDC988;
  }
  
  
  #like{
    float: right;
  }
  
  #user{
    float: right;
    margin-left: 150pxpx;
  }
  
  
  /* Navbar */
  nav{
    display: flex;
    background-color: #821752;
    justify-content: space-around;
    /* padding: 20px 0px; */
    height: 60px;
    color:  #EDC988;
    align-items: center;
  }

 
  
  nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    /* background-color:  #EDC988; */
    justify-content: space-between;
  }
  nav .logo{
    font-family: verdana;
    letter-spacing: 2px;
  }
  
  /* Menu */
  nav ul li a{
    color:  #EDC988;
    text-decoration: solid;
    font-size: 0.9em;
  }
  /*kondisi diklik*/
  nav ul li a:active{
    color:red;
  }
  nav ul li a:hover{
    color: white;
  }
  
  Responsive break point
  @media screen and (max-width: 768px){
    nav ul #kata .layer #Form  {
        width: 50%;
    }
  }
  @media screen and (max-width: 576px){
    nav ul #kata .layer #Form {
        width: 60%;
    }
  }
  
#kata{
    width: 18%;
    margin-top: -100px;
    margin-left: 40%; 
    align-items: center;
    position: absolute; 
  }
  
.layer{
    width: 100%;
    margin-top: 0px;
  }


  /* Sudah detail */

#mamam{
    border-color:#821752;
    width: 400px;
    height: 300px;
    float: left;
    margin-left: 10px;
    background-color:#f8efd4 ;   
}

#maem{
    background-color: #821752;
    color: white;
    text-align: center;
    text-overflow: ellipsis;
}

.fotoo{
    margin-top: 10px;
    margin-left: 100px;
}

#geser1{
    margin-top: 50px;
}
#geser1{
    margin-top: -50px;
}
#atas{
    border: 3px : #821752; 
    border-style: inherit;
    height: 30px;
    margin-top: -5px;
    background-color: #821752;
    color:#EDC988;
    margin-bottom: 10px;
}

#slideft{
    border-color:#821752;
    width: 600px;
    height: 300px;
    float: right;
    margin-right: 10px;
    background-color:#f8efd4 ;
    
}

@keyframes slider{

    0%{
        left:0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
#slider{
    overflow: hidden;
}

#slider figure .slide{
    width: 20%;
    float: left;
}

#slider figure{
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation:20s slider infinite;

}

#ftresto{
    background-color: #821752;
    color: white;
    text-align: center;
    text-overflow: ellipsis;
}
.slide{
    margin-top:14px;
    margin-left: 10px;
    margin-right: 10px;
}

#map{
    border-color: #821752;
    width: 300px;
    height: 300px;
    float: right; 
    margin-right: 10px;  
    background-color: #f8efd4;
}

#fotmap{
    margin-left:38px;
    margin-top: 20px;
}

#slideulasan{
    border-color: #821752;
    width: 795px;
    height: 500px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #f8efd4;
}
#mboh{
    background-color: #821752;
    color: white;
    text-align: center;
    text-overflow: ellipsis; 
}
h4{
    background-color: #EDC988;
    color: #821752;
    margin-bottom: 5px;
    text-rendering: geometricPrecision;
}

tr #mat p{
    margin-left: 10px;
}

tr #warung p{
    margin-left: 10px;
}

#jad{
    margin-left: 10px;
}
#ft{
    border-color: #821752;
    width: 515px;
    height: 500px;
    float: right; 
    margin-right: 10px;   
    background-color: #f8efd4;
    margin-top: 10px;
}



/* .detail{
    text-align: center;
    font-size: 16px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 10px;
    background-color: #EDC988;
    color: white;
    font-style: italic;
}
.slide{
    background-color: white;
    margin-right: 500px;
    margin-bottom: 200px;
}
.header1{
    background-color: white;
    background-size: 200px;
    margin-left: -15px ;
    margin-top: -18px;
    margin-right: -15px;
}
#namawarung{
    margin-left: 15px;
}
#lokasi{
    float: right;
    margin-top: -40px;
    margin-right: 300px;
}
.preview{
    margin-left: 15px;
} */
/* .peta{
    float: right;
    margin-right: -180px;
} */
/* .inf{
    margin-top: 60px;
    background-color: #DE4463;
    margin-right: -30px;
    margin-left: -30px;
    padding: 10px;
}
.detmenu{
    text-decoration: none;
    color: black;
    background-color: #EDC988;
    padding: 3px;
    border-radius: 5px;
    margin-left: 15px;
} */
#geserin{
    margin-left: 10px;
}
.list{
    margin-top: 30px;
    margin-right: 10px;
    margin-left:10px;
}


   /* ini masukin komen */
#fotkomen{
    border-color: #821752;
    width: 795px;
    height: 200px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #f8efd4;
}

#komen{
    background-color: #821752;
    color: white;
    text-align: center;
    text-overflow: ellipsis; 
}
.komenorang{
    border-color: #821752;
    width: 700px;
    height: 50px;
    margin-top: 20px;
    margin-left:30px
}


/* Ini komen */
#omen{
border-color: #821752;
    width: 515px;
    height: 200px;
    float: left; 
    margin-left: 10px;   
    background-color: #f8efd4;
    margin-top: 10px;
}
.orangkomen{
    margin-top: 2px;
    margin-left:15px;
    float: left;
}
.coment{
    margin-left: 10px;
}
#kt{
    float: left;
    margin-top:10px;
    margin-left: 10px;
}
#koment{
    float: left;
    margin-left: 10px;
    width: 300px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #821752;
    color: white;
}

#kirim{
    float: right;
    margin-top: 10px;
    justify-content: center;
    margin-left: 50px;
    width: 100px;
    height: 25px;
    margin-right: 110px;
    background-color: #821752;
    color: white;
    border-radius: 10px;
    border-style: ridge;
    border-color: #EDC988;
   
}

#kirim:hover{
  background-color: red;
  color: white;
}

#kirim:active{
  background-color: green;
  color: white;
}

#copyr{
    text-align: center;
    margin-top: 1150px;
    margin-bottom: 20px;
    font-size: x-small;
   }