
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Cambria';
    background-color:#EDC988;
}

#like{
  float: right;
}

#user{
  float: right;
  margin-left: 150pxpx;
}  

/* Navbar */
nav{
  display: flex;
  background-color: #821752;
  justify-content: space-around;
  /* padding: 20px 0px; */
  height: 60px;
  color:  #EDC988;
  align-items: center;
}

nav ul{
  display: flex;
  list-style: none;
  width: 40%;
  /* background-color:  #EDC988; */
  justify-content: space-between;
}
nav .logo{
  font-family: verdana;
  letter-spacing: 2px;
}

/* Menu */
nav ul li a{
  color:  #EDC988;
  text-decoration: solid;
  font-size: 0.9em;
}
/*kondisi diklik*/
nav ul li a:active{
  color:red;
}
nav ul li a:hover{
  color: white;
}

#kata{
    width: 18%;
    margin-top: -100px;
    margin-left: 40%; 
    align-items: center;
    position: absolute;
  }


.layer{
  width: 100%;
}

/*------------------------ Bagian Beranda ---------------------------------------------*/

#Beranda{
  border: 3px  #821752; 
  border-style: inherit;
  height: 30px;
  margin-top: -4px;
  background-color: #821752;
  color:#EDC988;
}

.search-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:  #821752;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}
.search-box:hover>.search-txt{
  width: 240px;
  padding: 0 6px;
}
.search-box:hover>.search-btn{
  background: white;

}
.search-btn{
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color:white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

.search-box{
  margin-top : 70px;
}
#copyr_B{
  text-align: center;
  margin-top: 100%;
  margin-bottom: 50px;
  font-size: x-small;
}
#lup{
  color: #821752;
}

#Rekom{
  border: 3px #821752; 
  border-style: inherit;
  height: 30px;
  margin-top:-5px;
  background-color: #821752;
  color:#EDC988;
}

#tanya{
  float: left;
  margin-left: 30px;
  margin-top: 5px;
  font-size: large;
}

.rekom{
  float: right;
  margin-right: 30px;
  margin-top: 5px;
  color:  #EDC988;
  text-decoration: solid;
  font-size: large;
}

.rekom:active{
  color:red;
}
.rekom:hover{
  color: white;
}

/* Responsive break point */
@media screen and (max-width: 768px){
  .body {
      width: 50%;
  }
  #Rekom{
    margin-top: 100%;
  }
  #kata{
    width: 18%;
    margin-top: -65px;
    margin-left: 40%; 
    align-items: center;
    position: absolute;
  }
}
@media screen and (max-width: 576px){
  .body {
      width: 30%;
  }
  #Rekom{
    margin-top: 100%;
  }
  nav{
    display: flex;
    background-color: #821752;
    /* justify-content: space-around; */
    height: 70px;
    color:  #EDC988;
    align-items: center;
  }
  nav ul{
    display: flex;
    list-style: none;
    width: 50%;
    /* background-color:  #EDC988; */
    justify-content: space-between;
    font-size: medium;
  }
  nav .logo{
    font-family: verdana;
    letter-spacing: 2px;
  }
  #kata{
    width: 20%;
    margin-top: -50px;
    margin-left: 40%; 
    align-items: center;
    position: absolute;
  }
}
@media screen and (max-width: 471px){
  .body {
      width: 20%;
  }
  #Rekom{
    margin-top: 100%;
  }
  #kata{
    width: 20%;
    margin-top: -50px;
    margin-left: 40%; 
    align-items: center;
    position: absolute;
  }
  nav{
    display: flex;
    background-color: #821752;
    /* justify-content: space-around; */
    height: 70px;
    color:  #EDC988;
    align-items: center;
  }
  nav ul{
    display: flex;
    list-style: none;
    width: 50%;
    /* background-color:  #EDC988; */
    justify-content: space-between;
    font-size: small;
  }
  nav .logo{
    font-family: verdana;
    letter-spacing: 2px;
  }
  #kata{
    width: 30%;
    margin-top: -50px;
    margin-left: 35%; 
    align-items: center;
    position: absolute;
  }
}
@media screen and (max-width:300px){
  nav{
    display: flex;
    background-color: #821752;
    /* justify-content: space-around; */
    height: 70px;
    color:  #EDC988;
    align-items: center;
  }
  nav ul{
    display: flex;
    list-style: none;
    width: 50%;
    /* background-color:  #EDC988; */
    justify-content: space-between;
    font-size: xx-small;
  }
  nav .logo{
    font-family: verdana;
    letter-spacing: 2px;
    font-size:small;
  }
  #kata{
    width: 25%;
    margin-top: -30px;
    margin-left: 35%; 
    align-items: center;
    position: absolute;
  }
  .rekom{
    float: right;
    margin-right: 30px;
    margin-top: 5px;
    color:  #EDC988;
    text-decoration: solid;
    font-size: small;
  }  
  #tanya{
    float: left;
    margin-left: 30px;
    margin-top: 5px;
    font-size: small;
  }
}