body{
    background-image: url(2.png);
    background-repeat: no-repeat;
    background-color: #F8EFD4;
}
.header{
    background-color: #821752;
    padding: 20px;
    font-size: 16px;
    margin-left: -20px;
    margin-top: -10px;
    margin-right: -20px;
}
.menu{
    text-decoration: none;
    color: black;
    background-color: #EDC988;
    padding: 5px;
    margin-left: 10px;  
    border-radius: 5px; 
}
.cari{
    padding: 5px;
    margin-left: 270px;
    border-radius: 20px;
    width: 250px;
}

.favorit, .profil{
    float: right;
    margin-right: 10px;
}
.lup{
    float: right;
    margin-right: 380px;
    margin-top: 5px;
}

.logo{
    max-height: 65px;
    margin-left: 520px;
    margin-top: -20px;
}
.detail{
    text-align: center;
    font-size: 16px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 10px;
    background-color: #EDC988;
    color: white;
    font-style: italic;
}
.slide{
    background-color: white;
    margin-right: 500px;
    margin-bottom: 200px;
}
.header1{
    background-color: white;
    background-size: 200px;
    margin-left: -15px ;
    margin-top: -18px;
    margin-right: -15px;
}
#namawarung{
    margin-left: 15px;
}
#lokasi{
    float: right;
    margin-top: -40px;
    margin-right: 300px;
}
.preview{
    margin-left: 15px;
}
.peta{
    float: right;
    margin-right: -180px;
}
.inf{
    margin-top: 60px;
    background-color: #DE4463;
    margin-right: -30px;
    margin-left: -30px;
    padding: 10px;
}
.detmenu{
    text-decoration: none;
    color: black;
    background-color: #EDC988;
    padding: 3px;
    border-radius: 5px;
    margin-left: 15px;
}
